@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 0.9rem;
}

.carousel-inner img {
    /* width: 600px; */
    height: 650px;
}

/* .carousel-inner { */
    /* width: fit-content; */
    /* height: fit-content;  */
    /* width: 660px; */
    /* height: 600px; */
/* } */

/* :active {
    transition: all 0.4s ease;
} */

/* #carouselExampleCaptions:active, .carousel-inner:active, .carousel-item-next, .carousel-item-start {
    width: fit-content;
    height: fit-content;
} */

/* #carouselExampleCaptions {
    border: 30px solid black;
    border-bottom: 60px black solid;
    border-radius: 10px;
} */

.carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 100%;
    margin: 0 -40px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;

}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

.plano-fundo {
    width: 100%;
    height: 95vh;
}

.plano-fundo .parallax {
    width: 100%;
    height: 100%;
    background-image: url('../media/wallpaper-blur.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-text h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 4em;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.neon {
    color: #fff;
    font-size: 5em;
    text-shadow:
        0 0 2.5px #48845E,
        0 0 5px #48845E,
        0 0 10px #48845E,
        0 0 15px #48845E,
        0 0 20px #48845E,
        0 0 25px #48845E,
        0 0 30px #48845E !important;
}

.showUpText {
    animation: showUp 2s backwards;
}

.showUpArrow {
    animation: showUp 1s backwards;
}

.arrow {
    display: flex;
    flex-direction: column;
}

.arrow svg:first-child {
    position: relative;
    top: 40px;
}

.arrow svg:nth-child(3) {
    position: relative;
    bottom: 40px;
}

/* ANIMATIONS */

@keyframes showUp {
    from {
        transform: translateY(-60px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 100;
    }
}

.accordion-button:not(.collapsed) { 
    background-color: #343a40; 
    color: white;
}

.logo-site img {
    width: 6vh;
    height: 6vh;
}

.titulo-pagina {
    width: 100%;
    color: white;
    font-family: "Lilita One", sans-serif;
    background-color: #343a40;
    padding: 40px 0px 60px 0px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

.titulo-pagina h1 {
    font-size: 3.35em;
    line-height: 1em;   
}

.row-sobrenos {
    flex-wrap: unset;
}

.card { 
    margin-right: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
} 

.card-sobrenos{
    padding: 10px;
    width: 400px;
}

.card:hover { 
    transform: scale(1.05); 
} 

.card-img-top { 
    height: 400px;
    object-fit: cover; 
}


input, select , select{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.accordion-body strong { 
    margin-bottom: 10px; 
    font-size: 1.1rem; 
} 

.accordion-body { 
    line-height: 1.6; 
    text-align: justify;
}

@media screen and (min-width : 700px) and (max-width : 1024px) {
    .parallax-text h1 {
        font-size: 2em;
    }
    
}

@media screen and (min-width : 375px) and (max-width : 700px) {
    .parallax-text h1 {
        font-size: 1.2em;
    }
    
}

@media screen and (min-width : 0) and (max-width : 350px) {
    .parallax-text h1 {
        font-size: 1em;
    }
    
}